@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

h1 {
  text-transform: uppercase;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #EDEDED;
}

body header {
  height: 4em;
  position: fixed;
  z-index: 999;
  position: relative;
}

body header .navbar {
  position: fixed;
  background-color: #252A3C;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 3.5em;
}

body header .navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: flex-end;
  height: 100%;
}

body header .navbar .container .open-menu {
  cursor: pointer;
  padding: .5em;
  height: 3.4em;
  width: 3.4em;
}

body header .navbar .container .menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body header .navbar .container nav {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 13em;
  z-index: 999;
  background-color: #252A3C;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

body header .navbar .container nav .close-menu {
  cursor: pointer;
  padding: 1em;
  float: right;
}

body header .navbar .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 4em;
  padding: 1em .5em 1em 1em;
}

body header .navbar .container nav ul li {
  margin: .7em;
}

body header .navbar .container nav ul li button {
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.4em;
}

body .logo-container {
  padding-top: .5em;
  text-align: center;
}

body .logo-container .logo {
  width: 14em;
  height: 14em;
}

body .second-half-hero {
  padding: .6em 2em;
  height: 20em;
}

body .second-half-hero h4 {
  font-family: "Poppins", sans-serif;
  letter-spacing: .2em;
  font-weight: 400;
  color: grey;
}

body .second-half-hero h1 {
  width: 7em;
  font-size: 2.2rem;
  line-height: 1.2em;
  font-family: "Poppins", sans-serif;
}

body .second-half-hero p {
  font-family: "Poppins", sans-serif;
}

body .second-half-hero .scroll-indicator-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .second-half-hero .scroll-indicator-container .scroll-indicator {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 1.9em;
  height: 3em;
  border: black solid .15em;
  background: none;
  border-radius: 3em;
  margin: 1.7em 0 0 0;
}

body .second-half-hero .scroll-indicator-container .scroll-indicator .scroll-wheel {
  position: absolute;
  margin-top: .3em;
  width: .6em;
  height: .6em;
  background-color: black;
  border-radius: 50%;
}

body .project-sect {
  text-align: center;
}

body .project-sect h1 {
  font-size: 2.2rem;
  padding-bottom: .2em;
  font-family: "Montserrat", sans-serif;
}

body .project-sect .project-cards {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .project-sect .project-cards .proj-item {
  width: 18em;
  height: 25em;
  background-color: #252A3C;
  margin: 1em 1em 1.8em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

body .about-sect .container h1 {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  font-size: 2.2rem;
  text-align: center;
  padding-top: 2em;
}

body .about-sect .container .paragraph-container {
  position: relative;
  padding: 2em;
  height: 23.5em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em;
  font-size: 16px;
}

body .about-sect .container .paragraph-container p {
  background-color: #252A3C;
  padding: 2em;
  color: white;
  font-family: "Poppins", sans-serif;
  max-width: 16em;
}

body .about-sect .container .paragraph-container::before {
  content: '';
  position: absolute;
  -webkit-transform: translateX(-4%) translateY(6%);
          transform: translateX(-4%) translateY(6%);
  width: 16em;
  height: 20em;
  border: #DC933D solid 0.25em;
  z-index: -1;
}

body .contact-sect .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

body .contact-sect .container h1 {
  font-family: "Poppins", sans-serif;
  padding-top: 4em;
}

body .contact-sect .container form {
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin: 2em;
}

body .contact-sect .container form label {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: grey;
  margin-top: 1.8em;
}

body .contact-sect .container form input, body .contact-sect .container form textarea {
  position: relative;
  outline: none;
  border: none;
  background: none;
  border-bottom: grey solid .15em;
  width: 20em;
  padding: .5em 1em .3em 1em;
  font-size: .9rem;
  font-weight: 700;
  padding-left: .3em;
  font-family: "Poppins", sans-serif;
  resize: none;
  overflow: hidden;
}

body .contact-sect .container form input:focus,
body .contact-sect .container form input:focus-within,
body .contact-sect .container form textarea:focus,
body .contact-sect .container form textarea:focus-within {
  border-bottom: black solid .15em;
}

body .contact-sect .container form .secondaryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .contact-sect .container form .secondaryContainer .error-message {
  color: #9c0808;
  font-family: "Poppins", sans-serif;
  padding-top: .4em;
  margin-top: 1.8em;
  font-size: .8em;
}

body .contact-sect .container form .submit-btn {
  cursor: pointer;
  background-color: #DC933D;
  border: none;
  width: 6em;
  height: 2.5em;
  margin: 1.8em 1em 0 0;
  color: white;
  font-size: 1.2em;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

body .landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #252A3C;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

body .landing .landing-text {
  text-align: center;
  padding: 1.5em;
  color: #d6d6d6;
  font-family: "Poppins", sans-serif;
}

body .landing .landing-text > h1 {
  margin: 1em;
}

body .landing .hide {
  background-color: #252A3C;
  overflow: hidden;
}

body .landing .hide span {
  display: inline-block;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

body .landing .slider {
  position: fixed;
  background-color: #DC933D;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  z-index: 9999;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

body footer {
  background-color: #252A3C;
  color: white;
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding: .4em;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (min-width: 540px) {
  body main .hero {
    padding: 1em;
  }
  body main .hero .container .logo {
    height: 20em;
    width: 20em;
  }
  body main .hero .container .second-half-hero {
    padding-top: 3;
  }
  body main .hero .container .second-half-hero .text-container h1 {
    font-size: 2.7em;
  }
}

@media only screen and (min-width: 600px) {
  body header {
    height: 5em;
  }
  body header .navbar {
    height: 5em;
  }
  body header .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
  }
  body header .navbar .container .open-menu, body header .navbar .container .menu-container {
    display: none;
  }
  body header .navbar .container nav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body header .navbar .container nav .close-menu {
    display: none;
  }
  body header .navbar .container nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  body header .navbar .container nav ul li {
    position: relative;
    margin: 1.3em;
  }
  body header .navbar .container nav ul li:last-child {
    margin-left: 10em;
  }
  body header .navbar .container nav ul li:last-child::before {
    content: '';
    position: absolute;
    width: 9em;
    height: 2.5em;
    background-color: #DC933D;
    border-radius: 14em;
    -webkit-transform: translateX(-5%) translateY(-8%);
            transform: translateX(-5%) translateY(-8%);
    z-index: -1;
  }
  body main .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 40em;
  }
  body main .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main .hero .container .logo {
    height: 20em;
    width: 20em;
  }
  body main .hero .container .second-half-hero {
    padding-top: 3em;
  }
  body main .project-sect .container .project-cards ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
  }
  body main .project-sect .container .project-cards ul li {
    width: 20em;
  }
  body main .about-sect {
    padding: 3em 0 0 0;
  }
  body main .about-sect .container .paragraph-container {
    height: 20em;
  }
  body main .about-sect .container .paragraph-container p {
    max-width: 45em;
    height: 10em;
  }
  body main .about-sect .container .paragraph-container::before {
    width: 43em;
    height: 10.3em;
    -webkit-transform: translateY(10%) translateX(-4%);
            transform: translateY(10%) translateX(-4%);
  }
  body main .contact-sect .container h1 {
    font-size: 1.8rem;
  }
  body main .contact-sect .container form input, body main .contact-sect .container form textarea {
    width: 30em;
  }
  body main .contact-sect {
    padding-bottom: 2em;
  }
}

@media only screen and (min-width: 1196px) {
  body main .hero .container .text-container {
    padding-top: 2.5em;
  }
  body main .hero .container .logo-container .logo {
    width: 25em;
    height: 25em;
  }
  body main .project-sect .container h1 {
    margin: 1em;
  }
  body main .project-sect .container .project-cards ul {
    padding: 1em;
  }
  body main .project-sect .container .project-cards ul li {
    width: 30em;
  }
  body main .contact-sect .container h1 {
    font-size: 2.4rem;
  }
  body main .contact-sect .container form input, body main .contact-sect .container form textarea {
    width: 30em;
  }
}
/*# sourceMappingURL=styles.css.map */