@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

$font: 'Poppins', sans-serif;
$font2: 'Montserrat', sans-serif;

$colors: (
    bodyBackground: #EDEDED,
    navColor: #252A3C,
    general: #DC933D
);

@function color($color_name) {
    @return map-get($colors, $color_name)
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
}

h1 {
    text-transform: uppercase;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    background-color: color(bodyBackground);

    header{
        height: 4em;
        position: fixed;
        z-index: 999;
        position: relative;
        
        .navbar {
            position: fixed;
            background-color: color(navColor);
            box-shadow: 0 0 1rem rgba($color: #000000, $alpha: .2);
            width: 100%;
            height: 3.5em;
            
            .container {
                display: flex;
                place-content: flex-end;
                height: 100%;

                .open-menu {
                    cursor: pointer;
                    padding: .5em;
                    height: 3.4em;
                    width: 3.4em;
                }

                .menu-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                nav {
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 100vh;
                    width: 13em;
                    z-index: 999;
                    background-color: color(navColor);
                    box-shadow: 0 0 1rem rgba($color: #000000, $alpha: .2);
                    transform: translateX(100%);

                    .close-menu {
                        cursor: pointer;
                        padding: 1em;
                        float: right;
                    }
                    
                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        margin-top: 4em;
                        padding: 1em .5em 1em 1em;

                        li {
                            margin: .7em;

                            button {
                                cursor: pointer;
                                background: none;
                                border: none;
                                color: white;
                                font-family: $font;
                                font-size: 1.4em;
                            }
                        }
                    }
                }
            }
        }

        
    }
    
    .logo-container {
        padding-top: .5em;
        text-align: center;
        
        .logo {
            width: 14em;
            height: 14em;
        }
    }

    .second-half-hero {
        padding: .6em 2em;
        height: 20em;

        h4 {
            font-family: $font;
            letter-spacing: .2em;
            font-weight: 400;
            color: grey;
        }

        h1 {
            width: 7em;
            font-size: 2.2rem;
            line-height: 1.2em;
            font-family: $font;
        }

        p {
            font-family: $font;
        }

        .scroll-indicator-container {
            display: flex;
            justify-content: center;
            align-items: center;

            .scroll-indicator {
                cursor: pointer;
                display: flex;
                justify-content: center;
                position: relative;
                width: 1.9em;
                height: 3em;
                border: black solid .15em;
                background: none;
                border-radius: 3em;
                margin: 1.7em 0 0 0 ;

                .scroll-wheel {
                    position: absolute;
                    margin-top: .3em;
                    width: .6em;
                    height: .6em;
                    background-color: black;
                    border-radius: 50%;
                }
            }
        }  
    }
    .project-sect {
        text-align: center;

        h1 {
            font-size: 2.2rem;
            padding-bottom: .2em;
            font-family: $font2;
        }

        .project-cards {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .proj-item {
                width: 18em;
                height: 25em;
                background-color: color(navColor);
                margin: 1em 1em 1.8em 1em;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
            }
        }
    }

    .about-sect {
        .container {
            h1 {
                font-family: $font2;
                width: 100%;
                font-size: 2.2rem;
                text-align: center;
                padding-top: 2em;
            }

            .paragraph-container {
                position: relative;
                padding: 2em;
                height: 23.5em;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 2em;
                font-size: 16px;

                p {
                    background-color: color(navColor);
                    padding: 2em;
                    color: white;
                    font-family: $font;
                    max-width: 16em;
                }
            }

            .paragraph-container::before {
                content: '';
                position: absolute;
                transform: translateX(-4%) translateY(6%);
                width: 16em;
                height: 20em;
                border: color(general) solid .25em;
                z-index: -1;
            }
        }
    }

    .contact-sect {
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;

            h1 {
                font-family: $font;
                padding-top: 4em;
            }
            
            form {
                display: grid;
                place-content: center;
                margin: 2em;

                label {
                    font-family: $font;
                    font-weight: 400;
                    color: grey;
                    margin-top: 1.8em;
                }

                input, textarea {
                    position: relative;
                    outline: none;
                    border: none;
                    background: none;
                    border-bottom: grey solid .15em;
                    width: 20em;
                    padding: .5em 1em .3em 1em;
                    font-size: .9rem;
                    font-weight: 700;
                    padding-left: .3em;
                    font-family: $font;
                    resize: none;
                    overflow: hidden;
                }

                input:focus,
                input:focus-within,
                textarea:focus,
                textarea:focus-within {
                    border-bottom: black solid .15em;
                }

                .secondaryContainer {
                    display: flex;

                    .error-message {
                        color: #9c0808;
                        font-family: $font;
                        padding-top: .4em;
                        margin-top: 1.8em;
                        font-size: .8em;
                    }
                }

                .submit-btn {
                    cursor: pointer;
                    background-color: color(general);
                    border: none;
                    width: 6em;
                    height: 2.5em;
                    margin: 1.8em 1em 0 0 ;
                    color: white;
                    font-size: 1.2em;
                    font-family: $font;
                    font-weight: 700;
                }
            }
        }
    }
    
    .landing {
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: center;
        background-color: color(navColor);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9998;
        transform: translate3d(0,0,0);

        .landing-text {
            text-align: center;
            padding: 1.5em;
            color: #d6d6d6;
            font-family: $font;
        }
    
        .landing-text > h1 {
            margin: 1em;
        }

        .hide {
            background-color: color(navColor);
            overflow: hidden;

            span {
                display: inline-block;
                transform: translateY(100%);
            }
        }
        .slider {
            position: fixed;
            background-color: color(general);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: translateX(100%);
            z-index: 9999;
            display: grid;
            place-content: center;
        }
    }
    footer {
        background-color: color(navColor);
        color: white;
        display: grid;
        place-content: center;
        padding: .4em;
        font-family: $font2;
    }

    @media only screen and (min-width: 540px) {
        main {
            .hero {
                padding: 1em;
                .container {
                    .logo {
                       
                       height: 20em;
                       width: 20em;
                    }

                    .second-half-hero {
                        padding-top: 3;

                        .text-container {
                            h1 {
                                font-size: 2.7em;
                            }
                        }
                    }

                }
            }
        }
    }

    @media only screen and (min-width: 600px) {
        header {
            height: 5em;
            .navbar {
                height: 5em;
                .container {
                    display: grid;
                    grid-template-columns: 180px auto;
    
                    .open-menu, .menu-container{
                        display: none;
                    }
    
                    nav {
                        transform: translateX(0);
                        opacity: 1;
                        display: flex;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
    
                        .close-menu {
                            display: none;
                        }
    
                        ul {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            margin: 0;
                            padding: 0;
                            width: 100%;
    
                            li {
                                position: relative;
                                margin: 1.3em;
                            }

                            li:last-child {
                                margin-left: 10em;
                                background-color: color(general);
                                border-radius: 14em;
                                padding: 0 .5em;
                            }

                            // li:last-child::before {
                            //     content: '';
                            //     position: absolute;
                            //     width: 9em;
                            //     height: 2.5em;
                            //     background-color: color(general);
                            //     border-radius: 14em;
                            //     transform: translateX(-5%) translateY(-8%);
                            //     z-index: -1;
                            // }
                        }
                    }
                } 
            }
        }
        main {
            .hero {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40em;
                .container {  
                    display: flex;
                    flex-direction: row-reverse;
                    align-content: center;
                    justify-content: center;
                    .logo {
                       height: 20em;
                       width: 20em;
                    }

                    .second-half-hero {
                        padding-top: 3em;
                    }
                }
            }
            .project-sect {
                .container {
                    .project-cards {
                        ul {
                            display: grid;
                            grid-template-columns: repeat(2, auto);

                            li {
                                width: 20em;
                            }
                        }
                    }
                }
            }
            .about-sect {
                padding: 3em 0 0 0 ;
                .container {
                    .paragraph-container {
                        height: 20em;
                        p {
                            max-width: 45em;
                            height: 10em;
                        }
                    }
                    
                    .paragraph-container::before {
                        width: 43em;
                        height: 10.3em;
                        transform: translateY(10%) translateX(-4%);
                    }
                }
            }

            .contact-sect {
                .container {
                    h1 {
                        font-size: 1.8rem;
                    }

                    form {
                        input, textarea {
                            width: 30em;
                        }
                    }
                }
            }

            .contact-sect {
                padding-bottom: 2em;
            }
        }
    }

    @media only screen and  (min-width: 1196px){
        main {
            .hero {
                .container {
                    .text-container {
                        padding-top: 2.5em;
                    }
                    .logo-container {
                        .logo {
                            width: 25em;
                            height: 25em;
                        }
                    }
                }
            }
            .project-sect {
                .container {
                    h1 {
                        margin: 1em;
                    }
                    .project-cards {
                        ul {
                            padding: 1em;
                            li {
                                width: 30em;
                            }
                        }
                    }
                }  
            }
            .contact-sect {
                .container {
                    h1 {
                        font-size: 2.4rem;
                    }

                    form {
                        input, textarea {
                            width: 30em;
                        }
                    }
                }
            }
        }
    }
}